body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, .87);
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fafafa;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
}

.card {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  padding: 1em;
}

[contents] {
  margin-right: 5em;
  display: inline-block;
  background: #fff;
  padding: 24px 0;
  padding-right: 4em;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
          box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

[contents] ol {
  margin-left: 1em;
  padding: 0;
  font-size: .9em;
  margin-bottom: 1em;
}

[contents] ol li {
  list-style: none;
}

[contents] ol a {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

[contents] ol a:hover,
[contents] ol a.active{
  color: rgba(0, 150, 136, 1);
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  padding: 0 2em;
  margin-left: 210px;
}

main h1 {
  font-size: 3em;
  font-weight: 300;
  color: #009688;
/*  margin: 0;*/
}

main article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 2em;
}

main article h3 {
  font-size: 2em;
  font-weight: 400;
  color: #009688;
  margin: 0;
  margin-bottom: .2em;
  margin-left: 2rem;
}

main article h3 a {
  text-decoration: inherit;
  color: inherit;
  position: relative;
}

main article h3 a:hover:before {
  opacity: 1;
}

main article h3 a:before {
  content: "#";
  color: rgba(0, 0, 0, .38);
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

main article description {
  color: rgba(0, 0, 0, .54);
  margin-bottom: .5em;
  margin-left: 2rem;
  display: block;
}

main article description b {
  font-style: normal;
  font-weight: 500; 
}

main article description em {
  font-style: normal;
  font-family: "source code pro", monospace;
  background-color: #f5f2f0;
  color: #009688;
}

main article description ul {
  padding-left: 20px;
}

main article h4 {
  font-weight: 700;
}

main article .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

main article .tabs aside {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
-webkit-box-flex: 1;
          flex: 1 0 0;
  margin: 0 .5em;
}

main article .tabs aside:first-child {
  margin-left: 0;
}

main article .tabs aside:last-child {
  margin-right: 0;
}

main article aside[demo] .output {
  margin-top: 1em;
  background-color: #fafafa;
/*  border: 1px solid rgba(0, 0, 0, .3);*/
  padding: 1em;
  min-width: 400px;
}
